{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<h1>Edit Page</h1>
<form action = "newpage" method="post" >
    <input type="hidden" name = "title" value={{title}}>
    <input type="hidden" name = "edit" value="edit">
      <div class="mb-3" style = "width: 1000px; ">
        <label for="exampleFormControlTextarea1" class="form-label">Markdown Script</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="markdown" >{{markdown}}</textarea>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit" style="margin-top: 10px;margin-left: -15px;margin-bottom: 30px; background-color: green; border-color: green;">Submit</button>
        {% csrf_token %}
      </div>

</form>


{% endblock %}