{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
   <h1>Git</h1>
<p>Git is a version control tool that can be used to keep track of versions of a </p>
<h2>GitHub</h2>
<p>GitHub is an online service for hosting git repositories.</p>
   <form action ="encyclopedia/edit" method="post">
    <div class="col-12">
        <input type="hidden" name ="test" value={{title}}>
        <button class="btn btn-primary" type="submit" style="margin-top: 10px;margin-left: -15px;margin-bottom: 30px;">Edit</button>
        {% csrf_token %}
      </div>
   </form>
  
  


{% endblock %}